h1 {
    font-family: "TT Supermolot Bold", sans-serif;
    margin: 24px 0px;
    color: #292929;
}

.barra_listagem {
    width: 466px;
    border-radius: 5px;
    border: 2px solid #414ABA;
    background-color: white;
}
p {
    font-family: "TT Supermolot Regular", sans-serif;
}
.ant-table {
    font-family: 'TT-Supermolot-Regular';
    margin-left: 120px;
    display: flex;
    margin-top: 40px;
  }
 
  .ant-table-thead > tr > th {
    font-family: "TT-Supemolot-Bold";
  }

  .txt_table_action{
    color: #141ABA;
  }

  .barra_listar{
    width: 466px;
    border-radius: 5px;
    border: 2px solid #414ABA;
    background-color: white;
  }