*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primarycolor: #414ABA
}


  @font-face {
    font-family: 'TT Supermolot Regular';
    src: url(fonts/regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Bold';
    src: url(fonts/bold.ttf);
    font-weight: normal;
    font-style: normal;
}
