*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primarycolor: #414ABA
}

.custom-input-number .ant-input-number {
    width: 90px;
    height: 40px;
  }
  
  .custom-input-number .ant-input-number-input {
    border: 8px solid black;
    border-radius: 5px;
  }
  
